*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#0b1120;
  color:white;
  overflow-x:hidden;
}

#root{
  width:100%;
  min-height:100vh;
}